
<div id="container" class="profile-img-mobile">
  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Prueba Técnica</mat-card-title>
      </mat-card-header>
      <div id="container-form" class="profile-img">
        <app-login-form (loginEvent)="loginEvent($event)"></app-login-form>
      </div>
    </mat-card>
  </div>
</div>





