<form
  [formGroup]="formLogin"
  class="example-form"
  (ngSubmit)="clickLoginForm()"
>
  <mat-card-content>
    <mat-form-field class="example-full-width">
      <mat-icon matSuffix>account_circle</mat-icon>
      <input
        matInput
        placeholder="Email"
        formControlName="email"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
      />
      <mat-error *ngIf="f.email.invalid">Correo no válido</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-icon matSuffix>lock</mat-icon>
      <input
        matInput
        placeholder="Contraseña"
        formControlName="password"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
      />
      <mat-error *ngIf="f.password.invalid">Contraseña no válida</mat-error>
    </mat-form-field>
    <div>
      <div class="slide-toggle">
        <h3>Recordar</h3>
        <mat-slide-toggle
          matSuffix
          formControlName="reminder"
        ></mat-slide-toggle>
      </div>
    </div>
  </mat-card-content>
  <button
    mat-raised-button
    color="primary"
    class="btn-block"
    [disabled]="!this.formLogin.valid || !this.formLogin.touched"
  >
    Acceder
  </button>
</form>
