html,
body {
  min-height: 100vh;
  margin: 0;
  color: #edf3ff;
  background: #c8c8c8;
  background: url(assets/background.jpg) fixed;
  background-size: cover;
  font: 600 16px/18px "Open Sans", sans-serif;
}

#container-form, #container{
  text-align: center;
  margin-top: 20px;
 }

.box {
  position: relative;
  top: 0;
  opacity: 1;
  float: center;
  padding: 60px 50px 40px 50px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 330px;
}

.box.back {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  top: -20px;
  opacity: 0.8;
  z-index: -1;
}

.box:before {
  content: "";
  width: 100%;
  height: 30px;
  border-radius: 10px;
  position: absolute;
  top: -10px;
  background: rgba(255, 255, 255, 0.6);
  left: 0;
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  z-index: -1;
}

.login-wrapper .example-form {
  min-width: 100%;
  max-width: 300px;
  width: 100%;
}

.login-wrapper .example-full-width,
.login-wrapper .btn-block {
  width: 100%;
}

.login-wrapper mat-card-header {
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 700;
}

.login-wrapper mat-card-header mat-card-title {
  font-size: 30px;
  margin: 0;
}

.login-wrapper .mat-card {
  padding: 40px 70px 50px;
}

.mat-form-field-wrapper,
.slide-toggle {
  margin: 0px 10px 10px 10px;
}

.mat-progress-spinner {
  position: absolute;
  overflow: hidden;
}

div.profile-img::before {
  content: "";
  display: inline-block;
  width: 150px;
  height: 130px;
  background-image: url(assets/logo.jpg);
  background-size: 200px;
  background-repeat: repeat-x;
}

@media (max-width: 960px) {
  div.profile-img-mobile::before {
    content: "";
    display: inline-block;
    width: 150px;
    height: 130px;
    background-image: url(assets/logo.jpg);
    background-size: 200px;
    background-repeat: repeat-x;
  }

  div.profile-img::before {
    display: none;
  }

  .login-wrapper .mat-card {
    padding: 0;
  }
  .mat-form-field-wrapper,
  .slide-toggle {
    margin: 0px 10px 0px 10px;
  }
  .mat-raised-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 0;
    overflow: visible;
    transform: translate3d(0, 0, 0);
    transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
      box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  mat-card-title.mat-card-title {
    display: none;
  }
}
